.card {
    width: calc(230px - 0.203125*(1024px - 100vw));
    height: 361px;
    border-radius: 10px;
    background-color: #fff;
}

@media screen and (max-width: 1024px) {
    .card {
        width: calc(272px - 0.30859*(768px - 100vw));
    }
}

@media screen and (max-width: 767px) {
    .card {
        width: calc(282px - 0.62192*(320px - 100vw));
    }
}